*{
    padding: 0px;
    margin: 0px;
}
.form {
    display: flex;
    justify-content: right;
}
.form input{
    border-width: 2.2px;
    margin-top: 30px;
    
  padding: 1%;
  background-color:#e9f5fc;
  margin-left: 10px;
    width: 194px;
   
}

.child{
    display: flex;
    justify-content: right;

}

.child input{   
  
    padding: 10px;
    width: 430px;
    margin-top: 30px;
    background-color:#e9f5fc;

    border-width: 2.2px;

   
   
}

.child1{
    display: flex;
    margin-left: 720px;
}
.child1 input{
    padding: 50px;
    width: 350px;
    margin-top: 30px;
    background-color:#e9f5fc;
box-shadow: #e9f5fc;
}


.btn{
    
   margin-left: 720px;
    margin-top: 30px;
}
.btn input{
    width: 120px;
    height: 50px;
    background-color: white;
    color: rgb(0, 153, 255);
    border-color: white;
    
}

.btn input:hover{
    background-color: aqua;
}
form{
    position: absolute;
    margin-top: 50px;
}

img{
    width: 300px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    
}

.cont{
    
    margin-top: 120px;   
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}


.cont a{
    text-decoration: none;
    border-style: groove;
    display: flex;
    text-align: center;
    color:black
   
}

      
    

.addr{
    margin-left: 20px;
}

.addr add{
    
    font-size: 20px;
    font-style: oblique;
    display: flex;
    margin-left:50px;
}



    
}
